%btn{
  color: $white;
  padding: 20px;
  font-size: $btn;
  background: $coral;
}

%line{
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 160px;
  height: 2px;
  background: $coral;
}